<div class="all">
<div class="login">
<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="../assets/images/T4U.jpg" alt="" width="150" height="150">
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputEmail" class="form-control" name="FullName" placeholder="Nom Complet" required autofocus [(ngModel)]="this.FullName" >
    <label for="inputEmail">Nom Complet</label>
  </div>
<br>
  <br>
  <button class="btn btn-danger btn-block signin" (click)="loginWithGoogle()"><i class="fa fa-google"></i> Sign in with <b>Google</b></button>
</form>
</div>

</div>
